@font-face {
  font-family: helloGhost;
  src: url(../public/helloghost.regular.ttf);
}

body {
  min-height: 100vh;
  color: white;
  background: url(https://i.ibb.co/FzGp7V3/whitby-abbey-3790661-1280-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: helloGhost;
  font-size: 25px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  color: white;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
}

.card {
  background: rgb(10, 10, 10, .50);
  border-radius: 0px 15px 0px 15px;
  text-align: center;
  padding: 10px;
}

.add-form {
  background: rgb(10, 10, 10, .50);
  border-radius: 0px 15px 0px 15px;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 25px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  background: ghostwhite;
}

img {
  float: left;
  width:  300px;
  height: 300px;
  object-fit: cover;
  border-radius: 0px 15px 0px 15px;
  padding-bottom: 20px;
}
